.map {
	/*width: 352px;*/
	width: 702px;
	/*height: 287px;*/
	height: 702px;
	border: 1px solid #000000;
	overflow: hidden;
	background: repeating-linear-gradient(
		-30deg,
		#606dbc,
		#606dbc 4px,
		#465298 4px,
		#465298 8px
	);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.inside-map {
	/*margin-top: -85px;*/
	/*margin-left: -50px;*/
}

.map:focus {
	box-shadow: 0 0 30px rgba(255,0,0,1);border-color: #5D5D5D;
}
