<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<div class="container">
					<form class="form-horizontal">
						<h2>J'accède à mon royaume</h2>
						<input type="text" class="form-control" ng-model="email" placeholder="Email address" autofocus="autofocus">
						<input type="password" class="form-control" ng-model="password" placeholder="Password">
						<div class="checkbox">
							<label class="help-block">
								<input type="checkbox" value="remember-me">
								Se souvenir de moi
							</label>
						</div>
						<button class="btn btn-lg btn-primary btn-block" ng-click="doLogin()">> Me connecter</button>
					</form>
				</div>

			</div>
			<div class="col-md-6">

				<div class="container">
					<h2>Ma première connexion</h2>
					<button class="btn btn-lg btn-primary btn-block" ng-click="doSignin()">> Créer mon royaume</button>
				</div>

			</div>
		</div>
	</div>
</div>
