<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<div class="container">
					<form name="loginform" class="form-horizontal" ng-submit="doLogin()" novalidate>
						<h2>J'accède à mon royaume</h2>
						<div ng-class="worldClass" class="form-group">
							<span ng-show="worldSpinner"><img src="./../images/loader/kit.gif" alt="loading"></span>
							<select name="world" class="form-control" ng-model="world" ng-options="world as world.world.name for world in worlds track by world._id" autofocus required>
								<option value="">Choisir un royaume</option>
							</select>
						</div>
						<div ng-class="emailClass" class="form-group">
							<input type="email" name="email" ng-model="email" class="form-control" placeholder="Email" required />
							<span ng-show="emailError" class="help-block">
								{{emailErrorMsg}}
							</span>
						</div>
						<div ng-class="passwordClass" class="form-group">
							<input type="password" name="password" ng-model="password" class="form-control" placeholder="Mot de passe" required />
							<span ng-show="passwordError" class="help-block">
								{{passwordErrorMsg}}
							</span>
						</div>
						<div class="form-group checkbox">
							<label>
								<input type="checkbox" name="rememberme" value="remember-me" ng-model="rememberme" />
								Se souvenir de moi
							</label>
						</div>
						<input type="submit" value="> Me connecter" class="btn btn-lg btn-primary btn-block" />
					</form>
				</div>

			</div>
			<div class="col-md-6">

				<div class="container">
					<h2>Ma première connexion</h2>
					<button class="btn btn-lg btn-primary btn-block" ng-click="doSignin()">> Créer mon royaume</button>
				</div>

			</div>
		</div>
	</div>
</div>
