<div class="container">
	<form action="" class="form-horizontal">
		<label>* Champs obligatoires</label>
		<input type="email" class="form-control" placeholder="Email" required="required" autofocus="autofocus">
		<input type="text" class="form-control" placeholder="Pseudo" required="required">
		<input type="password" class="form-control" placeholder="Password" required="required">
		<input type="password" class="form-control" placeholder="Password again" required="required">
		<div class="g-recaptcha" data-sitekey="6LdTzRoTAAAAAF1HEYgGGGYUoeffzJNbg2Z-wvOJ"></div>
		<button class="btn btn-lg btn-default btn-block" ng-click="back()">Retour</button>
		<button class="btn btn-lg btn-primary btn-block" ng-click="signin()">Valider</button>
	</form>
</div>
