<div class="container">
	<div action="" class="form-horizontal">
		<label>* Champs obligatoires</label>
		<input type="text" ng-model="email" class="form-control" placeholder="Email" autofocus="autofocus" />
		<input type="text" ng-model="pseudo" class="form-control" placeholder="Pseudo" />
		<input type="password" ng-model="password" class="form-control" placeholder="Password" />
		<input type="password" ng-model="passwordcontrol" class="form-control" placeholder="Password again" />
		<div class="g-recaptcha" data-sitekey="6LdTzRoTAAAAAF1HEYgGGGYUoeffzJNbg2Z-wvOJ"></div>
		<button class="btn btn-lg btn-default btn-block" ng-click="doBack()">Retour</button>
		<button class="btn btn-lg btn-primary btn-block" ng-click="doSignin()">Valider</button>
	</div>
</div>
